{% extends 'main.html' %}
{% load static %}

{% block content %}

<section class="main--container">
    <form id="post_form">
        <!-- {% csrf_token %} -->
        <input class="msg-box" type="text" name="body" id="msg-box" placeholder="Enter message..." />
    </form>
        <div class="d-flex justify-content-between">
            <button class="form-label myform-button" id="edit-name" for="msg-box">Change Username</button>
            <button class="form-label myform-button exit-button"  onclick="leaveRoom()">
                Leave room!
            </button>
            <button class="form-label myform-button" id="edit-name" for="msg-box" onclick="copyCode()">Copy Room code</button>
        </div>
    
    <div id="post__list" class="post__list">
        {% for post in posts %}
        <div class="post-wrapper">
            <div class="sender-info">
                ~ {{post.sender}} -  {{post.created|timesince}} ago
            </div>
            <p class="post__body">{{ post.body }}</p>
        </div>
        {% endfor %}
    </div>
</div>

<script type="text/javascript" src="{% static 'js/agora-rtm.js' %}"></script>

<script>
    // functions
    function leaveRoom(){
        localStorage.clear();
        client.logout();
        document.cookie.split(";").forEach(function (cookie) { 
            document.cookie = cookie.replace(/^ +/, "").replace(/=.*/, "=;expires=" + new Date().toUTCString() + ";path=/"); 
        });
        window.location = '/'
    }
    function copyCode(){
        room_code = localStorage.getItem("CHANNEL_NAME");
        if(room_code){
            console.log(room_code);
            navigator.clipboard.writeText(room_code);
            Toastify({
                text: `Copied ✔`,
                duration: 1600,
                position:'center',
            }).showToast();
        }
        else
            window.location='/';
    }
    function getCookie(name) {
        let matches = document.cookie.match(new RegExp(
            "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
        ));
        return matches ? decodeURIComponent(matches[1]) : undefined;
    }
</script>

<script type="text/javascript">
    
    const APP_ID ="33826ec0b4e245e3a7317da6618287b1";
    const token = null;
    const uid = String(Math.floor(Math.random() * 232 ));
    const channel_name_stored =  localStorage.getItem('CHANNEL_NAME');
    const creater =  localStorage.getItem('CREATER');
    const CHANNEL_NAME = channel_name_stored;
    let username = localStorage.getItem('USERNAME')
    let client;
    let channel;
    
    let changeNameBtn = document.getElementById('edit-name')
    
    changeNameBtn.addEventListener('click', (e)=> {
        localStorage.removeItem('USERNAME')
        window.location = '/register';
    })
    document.getElementById('msg-box').placeholder=`${username} : Enter message ...`
    document.cookie=`channel_id=${channel_name_stored}`;


    if(!username) window.location="/";
    

    let iniateRTM = async () => {
        client = await AgoraRTM.createInstance(APP_ID)

        await client.login({uid, token})

        channel = await client.createChannel(CHANNEL_NAME);
        await channel.join();

        channel.on('ChannelMessage', (message, peerId) => {
            post = JSON.parse(message.text);
            addMessageToDom(post)
        })
    }
    iniateRTM()

    let form = document.getElementById('post_form')

    form.addEventListener('submit', (e) => {
        e.preventDefault()
        let bodyText = e.target.body.value
        console.log(bodyText)
        form.reset()
        Toastify({
                text: `Sent`,
                duration: 1600,
                position:'center',
            }).showToast();

        submitData(bodyText)
        addMessageToDom(bodyText)
    })


    let submitData = async (bodyText) => {
        let response = await fetch('/add/', {
            method:'POST',
            headers:{
                'Content-Type':'application/json'
            },
            body:JSON.stringify({'body':bodyText, 'sender':username,'channel_id':channel_name_stored})
        })
        let data = await response.json()
        data['sender'] = username;
        data['channel_id'] = channel_name_stored;
        channel.sendMessage({text:JSON.stringify(data), type:'text'})

        console.log('Data:', data )
    
        addMessageToDom(data)
    }


    let addMessageToDom  = async (message) => {
        let postList = document.getElementById('post__list');

        let timeSince = new Intl.RelativeTimeFormat('en');

        let messageTime = new Date();

        let diff = new Date() - new Date(messageTime)
        let ago = timeSince.format(- diff/(1000*60*60*24), 'seconds')
        if(message.sender != localStorage.getItem('USERNAME') &&  message.channel_id == getCookie("channel_id")){
            let postWrapper = `<div class="post-wrapper">
                                    ~ <strong>Posted ${ago} - by ${message.sender}  ❄</strong>
                                    <p class="post__body">${ message.body }</p>
                                
                                </div>`
            postList.insertAdjacentHTML('afterbegin', postWrapper)
        }
        else if(message.channel_id == getCookie("channel_id")){
            let postWrapper = `<div class="post-wrapper">
                                    ~ ${message.sender} -  ${ago} ago
                                    <p class="post__body">${ message.body }</p>
                                
                                </div>`
            postList.insertAdjacentHTML('afterbegin', postWrapper)
        }
    }
</script>
{% endblock content %}
