{% extends 'main.html' %}
{% load static %}
{% block content %}
<!-- <link rel="stylesheet" href="{% static 'styles/home.css' %}"> -->
    <div class="jumbotron">
    <div class="row">
        <div class="column home-container text-bg-danger"> 
            <div class="text-center d-flex fs-3 justify-content-between m-2 mt-0">
                <button class="side-button text-center" onclick="window.location='/'">
                    ←
            </button>
                <a class="pr-5 name1 " href="/">
                    <div class="p-2">
                    ☃ Babble 
                    </div>
                </a>
                <a class="p-3 m-1 github-logo" href="https://github.com/iumoinfinium/agrotry">
                    <img class="side-logo" src="{% static 'images/github-mark-white.png' %}">
                </a>
            </div>
            <label class="home-text" for="new-channel">~ Create a new room </label>
            <button class="go-button" id="new-channel" onclick="newChannel()">
                <!-- <span class="material-symbols-outlined">
                add
                </span> -->
                👑
            </button>
            <div style="padding:0.2em">
                </div>
            <label class="home-text" for="existing-channel">~ Join an existing room</label>
            <button class="go-button" id="existing-channel" onclick="existingChannel()">✍</button>
            <div class="info">
                Babble, a platform where you can talk with however you like!
                <br>
                How to use ?
                <div class="tooltipp">
                    <img class="help-symbol" src="{% static 'images/question-mark.png'%}">
                    <span class="tooltiptext" style="width: 30em;">
                        <p>
                            To get started, either create a new room and get yourself a username and talk all you want!
                        </p>
                        Okay so you have the room code? Join an existing room and just with your username!
                    </span>
                </div>            
            </div>
        </div>
    </div>
    </div>


    <script>
        function newChannel(){
           window.location='/register'
        }
        function existingChannel(){
            window.location = 'join/';
        }
    </script>

    
    <script>
        async function checkCode(url = '', data = {}) {
            
            const response = await fetch(url, {
                method: 'POST', 
                mode: 'cors', 
                cache: 'no-cache', 
                credentials: 'same-origin', 
                headers: {
                'Content-Type': 'application/json'    
                },
                redirect: 'follow', 
                referrerPolicy: 'no-referrer', 
                body: JSON.stringify(data) 
            });
            return response.json(); 
        }
    </script>
    
{% endblock content %}