{% extends 'main.html' %}
{% load static%}

{% block content %}
    <div class="jumbotron">
    <div class="row ">
        <div class="column home-container text-bg-danger"> 
            <div class="d-flex fs-3 justify-content-between text-center">
                <button class="side-button text-center" onclick="window.location='/'">
                    ←
                </button>
                <a href="/" class="name">
                    <div class="p-3">
                        ☃Babble 
                    </div>
                </a>
                <a class="p-3 github-logo" href="https://github.com/iumoinfinium/agrotry">
                    <img class="side-button" src="{% static 'images/github-mark-white.png' %}">
                </a>
            </div>            <form id="join_form" class="text-center p-2" method="POST">
                <p>Enter your user name</p>
                <input class="form-label info-box" type="text" name="username"/>
                
                <p>Enter room code</p>
                <input class="form-lavel info-box" type="text" name="join_code"/>
                <br><br>
                <button class="go-button" type="submit">Join Room</button>
            </form>
        </div>
    </div>
    </div>


    <script>
        let form = document.getElementById('join_form')
        
        form.addEventListener('submit', (e) => {
            e.preventDefault()
            console.log("values!!");
            let username = e.target.username.value;
            let join_code = e.target.join_code.value;

            console.log("--"+username+"---");
            console.log("--"+join_code+"---");
            localStorage.setItem('USERNAME', username)
            localStorage.setItem('CHANNEL_NAME', join_code)
            localStorage.setItem('CREATER', false)
            document.cookie=`channel_id=${join_code}`;
            const channel_name = localStorage.getItem('CHANNEL_NAME');
            
            console.log(channel_name);
            if (username && channel_name){
                window.location = '/feed';
            }
        })
    </script>

{% endblock content %}